@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Sans:400,700&display=swap');

// Bootstrap Style~
$primary: #076EB2;
// $gray-800: #076EB2;
$gray-800: rgba(7, 110, 178, .8);
$green: #EEEEEE;
$link-hover-decoration: none;
$navbar-dark-color: rgba(255, 255, 255, .75);
$navbar-dark-hover-color: rgba(255, 255, 255, .95);
// Dropdown style
// $dropdown-bg:                       rgba(58,160,212,.75);
$dropdown-bg: rgba(58, 160, 212, .75);
$dropdown-border-color: rgba(255, 255, 255, .5);
$enable-caret: false;
// $dropdown-header-color:             rgba(58,160,212,.75);
$dropdown-box-shadow: 1rem 2rem rgba(8, 57, 90, .8);
$dropdown-link-color: rgba(255, 255, 255, .95);
$dropdown-link-hover-color: rgba(5, 70, 149, .95);
$dropdown-link-hover-bg: rgba(255, 255, 255, .5);
$dropdown-divider-bg: rgba(8, 57, 90, .5);
$dropdown-link-active-color: rgba(255, 255, 255, .95);
$dropdown-link-active-bg: rgba(7, 110, 178, .95);
$box-shadow-sm: 2px 2px 5px 2px rgba(0, 0, 0, .1);
$box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
$box-shadow-lg: 2px 2px 5px 2px rgba(0, 0, 0, .1);

// ~Bootstrap Style
// -------------------------------------------------------------
// ナブバーコントロールのスタイル
// @media only screen and (min-width : 768px) {
//     /* デスクトップ表示ではホバー操作でドロップダウンを表示 */
//     .dropdown:hover .dropdown-menu {
//         display: block;
//     }
// }
// -------------------------------------------------------------
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'M PLUS 1p', sans-serif;
    font-size: 100%;
}

body {
    background-color: #eee;
    font-size: 1.6rem;
    /* 16px*/
    line-height: 2;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}



// -------------------------------------------------------------
// Header Style~
.top-page header {
    position: relative;
    height: 150px;
    background: url("../images/header02.jpg") center no-repeat;
    background-color: #076EB2;
    overflow: hidden;
    z-index: 10;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    /* 縦方向中央揃え（Safari用） */
    align-items: center;
    /* 縦方向中央揃え */
    -webkit-justify-content: center;
    /* 横方向中央揃え（Safari用） */
    justify-content: center;
    /* 横方向中央揃え */
}

// ~Header Style
// -------------------------------------------------------------
// Navbar Style~

a .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

// ~Navbar Style
// Button Link anime style--------------
.nav-link a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav-link a::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.nav-link a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}

// Button Link anime style--------------

// -------------------------------------------------------------
// Movie Full Screen Style~
.box {
    overflow: hidden;
    position: relative;
}

.navbar-brand img {
    margin-right: 15px;
}

.fitMovie {
    position: absolute;
    top: 0 !important;
}

// .box__centered {
//     width: 100%;
//     left: 50%;
//     position: absolute;
//     top: 22%;
// }

// .box__contents {
//     width: 100%;
//     text-align: center;
//     transform: translate(-50%, -50%);
// }

.box__title {
    // font-family: 'Noto Serif JP', serif;
    display: block;
    width: 100%;
    font-style: bold;
    // font-size: 3vw;
    text-shadow: 2px 2px 5px #000;
    color: #fff;
    text-align: center;
}

.box__text {
    // font-family: 'Noto Serif JP', serif;
    display: block;
    width: 100%;
    // font-size: 2vw;
    text-shadow: 2px 2px 5px #000;
    color: #fff;
    text-align: center;
}

// ~Movie Full Screen Style
// -------------------------------------------------------------
// Article Style~
main {
    width: 100%;
    position: absolute;
    z-index: 5;
}

.titles {
    text-align: center;

    h3 {
        color: rgba(7, 110, 178, .95);
        font-weight: bold;
    }
}

.recent-news {
    position: relative;
    width: 100%;

    // box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
    .titles {
        text-align: center;

        h3 {
            color: rgba(7, 110, 178, .95);
            font-weight: bold;
        }
    }
}

twitter-time-line {
    position: relative;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
}


.article-2 {
    position: relative;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
    display: block;
    width: 1100px;
    margin: auto;
}

.timeline-viewport {
    drop-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
}

// ~Article Style
// -------------------------------------------------------------
//BxSlider Style~
.thumbnail {
    display: inline-block;
    /* 箱化 */
    height: 150px;
    width: 250px;
}

.thumbnail img {
    height: 100%;
    object-fit: cover;
}

iframe {
    margin-left: auto;
}

//~BxSlider Style
// -------------------------------------------------------------
// Foote Style~
footer {
    background-color: #076EB2;

    .container {
        padding: 30px 0px;
    }

    small {
        color: rgba(255, 255, 255, .75);
    }
}

address {
    color: rgba(255, 255, 255, .75);
    ;
}

.joinUs-btn {
    opacity: 0.9;
}

.joinUs-btn:hover {
    opacity: 0.5;
    transition: 0.5s;
    font-weight: bold;
}

// ~Footer Style
// link-style
.anchor {
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

// -------------------------------------------------------------
// Background pattern~
// .hexagon {
//     position: absolute;
//     width: 300px;
//     height: 173.21px;
//     background-color: #d6ebf5;
//     margin: 86.60px 0;
//     z-index: 0;
//     // box-shadow: 0 0 5px rgba(255,255,255,0.5);
// }

// .hexagon:before,
// .hexagon:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     width: 212.13px;
//     height: 212.13px;
//     -webkit-transform: scaleY(0.5774) rotate(-45deg);
//     -ms-transform: scaleY(0.5774) rotate(-45deg);
//     transform: scaleY(0.5774) rotate(-45deg);
//     background-color: inherit;
//     left: 43.9340px;
//     // box-shadow: 0 0 5px rgba(255,255,255,0.5);
// }

// .hexagon:before {
//     top: -106.0660px;
// }

// .hexagon:after {
//     bottom: -106.0660px;
// }

// /*cover up extra shadows*/
// .hexagon span {
//     display: block;
//     position: absolute;
//     top: 0px;
//     left: 0;
//     width: 300px;
//     height: 173.2051px;
//     z-index: 1;
//     background: inherit;
// }

// .hexagon .pos01 {
//     left: 50px;
//     top: 1200px;
// }

// .hexagon .pos02 {
//     left: 500px;
//     top: 1500px;
// }
.watermark01 {
    background-image: url("../images/nlabmark.svg");
    max-width: 100%;
    height: auto;
    top: 1200px;
    left: 60px;
    z-index: 1;
}

.watermark02 {
    background-image: url("../images/nlabmark.svg");
    max-width: 100%;
    height: auto;
    top: 1800px;
    left: 100px;
    z-index: 1;
}

// ~Background pattern
// -------------------------------------------------------------
@import "_bootstrap";

// -------------------------------------------------------------
// All
img {
    border-radius: 0px !important;
}

.card-img {
    border-radius: 0px !important;
}

// Scroll Style~
nav {
    transition: .3s;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.is-hide {
    transform: translateY(-100%);
}

// ~Scroll Style
// ---------------------------
// ~Font Style
.top-page .box__title {
    font-size: calc(1.4rem + ((1vw - 0.64rem) * 2.1429));
    /* 24px~36pxで可変*/
    line-height: 1.5;
    font-weight: bold;
}

.top-page .box__text {
    font-size: 20px;
    font-size: calc(0.7rem + ((1vw - 0.64rem) * 0.7143));
    line-height: 2;
}

@media (min-width: 1200px) {

    /* 1200px以上*/
    .top-page .box__title {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .top-page .box__text {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 640px) {

    /* 640px以下*/
    body {
        line-height: 2;
    }

    .top-page .box__title {
        font-size: 1rem;
        font-weight: bold;
    }

    .top-page .box__text {
        font-size: 0.5rem;
    }
}

// ~Font Style
// -------------------------------------------------
// Button Style~
.btn {
    border-radius: 0px;
}

.btn-small {
    border-radius: 0px;
}

.btn-large {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.mr-sm-2 {
    margin: 0 !important;
}

// Member.html Style~

.card {
    background-color: #f8f9fa;
    border: 0px;
    border-radius: 0px;
}

.card-body h6 {
    /*略歴の調整*/
    margin: 25px 0 12px 12px;
}

.card-img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.staff-02 img {
    height: 350px;
}


.box-area {
    position: relative;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.title-1 h3 {
    text-align: center;
    color: rgba(7, 110, 178, .95);
    font-weight: bold;
}

// ~Member.html Style



// ボタンホバーstyle
a:hover {
    opacity: 0.8;
}

.news-page header {
    background: url("../images/header03.jpg") center no-repeat;
    background-color: #def7fe;
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;

    .h2 {
        color: #fff;
        font-weight: bold;
        text-align: center;
        opacity: 0.75;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .95);
    }
}

.joinUs-page header {
    background: url("../images/header06.jpg") center no-repeat;
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;

    .h2 {
        color: #fff;
        font-weight: bold;
        text-align: center;
        opacity: 0.75;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .95);
    }
}

// reserch.html Style~

.reserch-page header {
    background: url("../images/header02g.jpg") center no-repeat;
    background-color: #1DA96F;
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;

    .h2 {
        color: #fff;
        font-weight: bold;
        text-align: center;
        opacity: 0.75;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .95);
    }
}

.reserch-page .icon1 {
    content: url("../images/tss.png");
    height: 60px;
    width: 60px;
}

.reserch-page .icon2 {
    content: url("../images/mts.png");
    height: 60px;
    width: 60px;
}

.reserch-page .icon3 {
    content: url("../images/tias.png");
    height: 60px;
    width: 60px;
}

.reserch-page .icon4 {
    content: url("../images/mids.png");
    height: 60px;
    width: 60px;
}


.member-page header {
    background: url("../images/header03.png") center no-repeat;
    background-color: #def7fe;
        display: flex;
    position: relative;
    height: 150px;
    width: 100%;

    h1 {
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
        opacity: 0.75;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .95);
    }
}
.seminar-page header {
    background: url("../images/header05.jpg") center no-repeat,
url("../images/header052.jpg") repeat-x;
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;

    h1 {
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
        opacity: 0.75;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .95);
    }
}

.achievement-page header {
    background: url("../images/header07.jpg") center no-repeat;
    background-color: #fff;
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;

    h1 {
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
        opacity: 0.85;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .95);
    }
}